
@{
    ViewBag.Title = "DashBoard";
    string isVechicleAdded = TempData["vehicleAdded"] as string;
    string isPolicyAdded = TempData["policyApplied"] as string;
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<style>
    .register-vehicle {
        height: 80%;
    }
</style>

<div class="ml-lg-3 mt-lg-3 dashboard-content justify-content-center align-items-center">
    @{
        if (isVechicleAdded == "no")
        {   
            <div class="d-flex container-fluid justify-content-center align-items-center p-0 register-vehicle">
                <h2>Register Your Vehicle</h2>
                <button class="btn btn-info">@Html.ActionLink("Add Now", "AddVehicle", "Vehicle", new { area = "" }, new { @class = "navbar-brand" })</button>
            </div>
        }
        else
        {
            if (isPolicyAdded == "no")
            {
                <div class="col-lg-12">
                    @Html.Partial("_ChoosingPolicy")
                </div>
            }

            else
            {

                <div class="row d-flex ms-lg-5">
                    <div class="col-lg-12">
                        <h5>Your Policies</h5>
                        @Html.Partial("ActivePolicies")
                    </div>
                </div>


                <div class="row d-flex mt-3 ms-lg-5">
                    <div class="col-lg-12">
                        <h5>Your AutoMobiles</h5>
                        <div class="row d-flex">
                            @Html.Partial("_UserAutoMobiles")
                        </div>



                    </div>

                </div>
            }
        }
    }


</div>
